# =========================
# LARGE / RAW DATA
# =========================
data/*
validation/data/*

# Keep only README files
!data/README.md
!validation/data/README.md

# =========================
# LOG FILES
# =========================
logs/

# =========================
# PYTHON CACHE FILES
# =========================
__pycache__/
*.pyc
